@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  background-color: #f9fafb;
  font-family: "Open Sans", "sans-serif";
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  width: auto;
  display: flex;
}

#TopCont {
  margin-top: 20px;
  margin-bottom: 0px;
}
#FMContainer {
  background-color: #e5e5e5;
  margin-bottom: 5px;
  width: 500px;
}
img {
  padding-top: 200px;
  width: auto;
}
#SMContainer {
  margin-bottom: 5px;
  background-color: rgba(34, 138, 214, 0.5);
  width: auto;
  align-items: center;
  filter: brightness(100%);
}

.col {
  background-color: lightblue;
}
form {
  text-align: left;
}
.words {
  margin-left: 37%;
}
input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
}
h2 {
  text-align: center;
}
#submitBtn {
  padding: 10px 5px 10px 5px;
  width: 100px;
  background-color: white;
  border-radius: 20%;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
